<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Web Architecture Project</title>
		<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/default.css">
		
	</head>
	<body>
		<!-- first non-form tag 1.2 -->
		<h1>Web Architecture Project</h3>
		<!-- second non-form tag 1.2 -->
		<img src="static/url_shortener.png" class="centered-image"></img>
	

		<div class="centered-box">
		<form class="form-horizontal" method="POST" action="shorts">
		<!-- first text field with label 1.1-->
		  <div class="col-lg-12">
		  <label for="long_url">Enter url to shorten<span class="label label-default"></span></label>
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="http://www.example.com" id="long_url" name="long_url" >
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" id="button">Shorten! </button>
		      </span>
		    </div>
		  </div>
		  <!-- third non-form tag 1.2 -->
		  <p class="fine-print">* only valid urls</p>
		  <!-- second text field with label 1.1-->
		  <div class="col-lg-12">
		    <div class="input-group">
		      <label> Customize url (Optional) <input type="text" class="form-control" placeholder="i.e expl" id = "shortURL" onkeyup="checkCharOnly(document.getElementById('shortURL').value);"></label>
		    </div>
		  </div>
		  <!-- forth non-form tag 1.2 -->
		  <p class="fine-print">* only valid string</p>
		  <p class="fine-print"><b id='errorMessage'></b> </p> 
		  </div>

		</div>
		</form>
		</div>
	</body>
</html>

<html>
    <script>
        function checkCharOnly(shortURL) {
        	var chars = /^[A-Za-z]*$/;
        	if (chars.test(shortURL)) {
				document.getElementById('errorMessage').innerHTML = '';
				document.getElementById("button").disabled = false;
			}else{
				document.getElementById("button").disabled = true;	
				document.getElementById('errorMessage').innerHTML = 'Please only use Letters';		
			}
		}
 
    </script>
</html>
