<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Web Architecture Project</title>
		<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="static/css/default.css">
		
	</head>
	<body>
		<!-- first non-form tag 1.2 -->
		<h1>Web Architecture Project</h1>
		<!-- second non-form tag 1.2 -->
		<img src="static/url_shortener.png" class="centered-image" alt="logo">
	

		<div class="centered-box">
		<form class="form-horizontal" method="POST" action="shorts">
		<!-- first text field with label 1.1-->
		  <div class="col-lg-12">
		  <label for="long_url">Enter url to shorten<span class="label label-default"></span></label>
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="http://www.example.com" id="long_url" name="long_url" autocomplete="off">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="submit" value="Submit" id ="shortenBTN">Shorten! </button>
		      </span>
		    </div>
		  </div>
		  <!-- third non-form tag 1.2 -->
		  <p class="fine-print">* Only valid URL format i.e.,URL must start with http:// or https://</p>
		  <!-- second text field with label 1.1-->
		  <div class="col-lg-12">
		    <div class="input-group">
		      <label> Customize url (Optional) <input type="text" class="form-control" placeholder="e.g. expl" id ="customized_url" name="short_str"  onkeyup="checkCharOnly(document.getElementById('customized_url').value);"></label>
		    </div>
		  </div>
		  <!-- forth non-form tag 1.2 -->
		   <!--  <p class="fine-print">* only valid string</p>-->
		  <p class="fine-print"><b id='errorMessage'></b> </p> 
		
		</form>
		</div>
		<script>
			$(document).ready(function() {
				$("#shortenBTN").attr('disabled', 'disabled');
				$("form").on('blur keyup change',function() {
					var long_url = $("#long_url").val();
		    		var filter = new RegExp("^(http|https|ftp)\://([a-zA-Z0-9\.\-]+(\:[a-zA-Z0-9\.&amp;%\$\-]+)*@)*((25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])|([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(\:[0-9]+)*(/($|[a-zA-Z0-9\.\,\?\'\\\+&amp;%\$#\=~_\-]+))*$");
		    		if (long_url !="" && filter.test(long_url)) {
		    			var customized_url = $("#customized_url").val();
			        	var chars = /^[A-Za-z]*$/;
			        	if (chars.test(customized_url)) {
							document.getElementById('errorMessage').innerHTML = '';
							document.getElementById("shortenBTN").disabled = false;
						}else{
							document.getElementById("shortenBTN").disabled = true;	
							document.getElementById('errorMessage').innerHTML = 'Please only use Letters';		
						};
		    		} else {
		    			document.getElementById("shortenBTN").disabled = true;
		    		};
		        	
		    	});
		    });
    	</script>
	</body>
</html>

