<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Web Architecture Project - Shorten URL</title>
		<link rel="stylesheet" type="text/css" href="./static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="./static/css/default.css">
		
	</head>
	<body>
		<h1>Web Architecture Project</h1>
		<div class="centered-box">
			<h2>Shorten url:</h2>
			<a href="{{url}}" class="shorten-url">{{url}}</a>
			<p class="error-print">{{error}}</p>
		</div>
	</body>
</html>
