<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Web Architecture Project - User links</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.4.0/bootstrap-table.min.css">
		<link rel="stylesheet" href="../static/css/default.css">


		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.4.0/bootstrap-table.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
			// This example creates circles on the map, representing
			// populations in North America.

			// First, create an object containing LatLng and population for each city.
			var citymap = {};

			for (i = 0; i < {{latitude}}.length; i++) {
				citymap[i] = {
				  center: new google.maps.LatLng({{latitude}}[i], {{longitude}}[i]),
				  population: {{numAddresses}}[i]
				};
			}




			var cityCircle;

			function initialize() {
			  // Create the map.
			  var mapOptions = {
			    zoom: 4,
			    center: new google.maps.LatLng({{avgLat}}, {{avgLong}}),
			    mapTypeId: google.maps.MapTypeId.TERRAIN
			  };

			  var map = new google.maps.Map(document.getElementById('map-canvas'),
			      mapOptions);

			  // Construct the circle for each value in citymap.
			  // Note: We scale the area of the circle based on the population.
			  for (var city in citymap) {
			    var populationOptions = {
			      strokeColor: '#FF0000',
			      strokeOpacity: 0.8,
			      strokeWeight: 2,
			      fillColor: '#FF0000',
			      fillOpacity: 0.35,
			      map: map,
			      center: citymap[city].center,
			      radius: Math.sqrt(citymap[city].population) * 100
			    };
			    // Add the circle for this city to the map.
			    cityCircle = new google.maps.Circle(populationOptions);
			  }
			}

			google.maps.event.addDomListener(window, 'load', initialize);

    </script>
	</head>
	<body>
			<div class="content">

			<div class="sign-area"  id="sign-area">
			</div>

			<div class="centered-box" style="width:50%, font-size:100%">
                <h2>  Shortened URL: <span style="font-size: 80%;
											    color: #C2FF66;
											    font-weight: bold;"> {{short_url}}</span> </h2>
                <h3> Number of Clicks:<span style="font-size: 80%;
											    color: #C2FF66;
											    font-weight: bold;"> {{number_clicks}} </span></h3>
				<table id="example" class="table table-striped table-bordered table-condensed"  >
				    <thead>
					    <tr>
					        <th >IP address</th>
					        <th >Click Data/Time</th>
					        
						 </tr>
					  </thead>
					    	<tbody>
					    		{% for stat in stats %}
					         	<tr>
					                <td> {{stat[2]}}</td>
					                <td>{{stat[3]}}</td> 
					            </tr>
					            {% endfor %}
					        </tbody>
				</table>
				<div class = "row-spacer">
			   		<div id="map-canvas"></div>
			   	</div>
			</div>

		</div>
		<script >
				$(document).ready(function() {
				// logon user sees registered user menu, sign in button otherwise
				if($.cookie('username') === null || $.cookie('username') === "" 
					|| $.cookie('username') === "null" || $.cookie('username') === undefined)
						{
						}
						else
						{
							var name= $.cookie('name');
						    var user = " <div class=\"member\">\
						    <ul class=\"nav navbar-nav navbar-fixed-top \" >\
						        <li class=\"dropdown\">\
						          <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><span class=\"glyphicon glyphicon-user pull-left\"></span>"+ name +"</a>\
						          <ul class=\"dropdown-menu\">\
						          <div class=\"navbar-login\">\
						          	<li><a href=\"../home\" id=\"home\">Home <span class=\"glyphicon glyphicon-home pull-right\"></span></a></li>\
						            </div>\
						          </ul>\
						        </li>\
						      </ul>\
						      </div>";
						      $('#sign-area').append( user);
						}
		    });
    	</script>
	</body>
</html>
