@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200');

html {
  color: rgba(0, 0, 0, 0.8);
}
.sign-area {
  top: 0px;
  margin-top: 1%;
  margin-right: 1%;
  text-align:right;

}
.centered-box {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}
.centered-image {
  width: 35%;
  height: auto;
  display: block;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto 

}
.centered-qrcode {
  width: 15%;
  height: 15%;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto ;
}
.fine-print{
  font-size: 13px;
  margin-left: 20px;
  color: #C2FF66;
}
.error-print{
  font-size: 20px;
  margin-left: 20px;
  color: red;
}
.shorten-url
{
    font-size: 170%;
    color: black;
    font-weight: bold;
    width:300px;
    height:400px;
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */

}
.shorten-url:hover{
  color: white;
}
.shorten-url:visited{
  color: black;
}
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
  color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-footer{
  text-align: center;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#C2FF66;
    color: #276B84;
}

.user{
  color:#C2FF66;
}
.dropdown {
    margin-top: 10px;
    margin-left: 10px;
    color:#C2FF66;
    border:2px solid #C2FF66;
    border-radius:8px;
    width:180px;    
}
.dropdown-menu>li>a {
    color:#C2FF66;
}
.dropdown ul.dropdown-menu {
    border-radius:7px;
    box-shadow:none;
    margin-top:20px;
    width:180px;
}
.dropdown ul.dropdown-menu:before {
   
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -5px;
    right: 86px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {

    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -5px;
    right: 84px;
    z-index: 9;
}
.navbar-login
{

    width: 180px;
    padding: 10px;
    padding-bottom: 0px;
}
.error { color: #CC0000; }
.qrcode{
  text-align: center;
}
body {
  font-size: 14px;
  line-height: 1.428571429;
  color: white;
  background-color: #276B84;
}
h1{
   margin-top: 10px;
  font-family: "Source Sans Pro";
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 32px;
}
h2, h3{
  font-size: 200%;
  color: white;
  font-weight: bold;
  font-family: "Source Sans Pro";
}

p{
  font-family:  Helvetica;
  text-align: left;
}
.message{
  font-size: 150%;
  color: black;
  font-weight: bold;
  font-family: "Source Sans Pro";
}
.label{
  color: white;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.col-lg-12{
  padding-top: 20px;
  padding-bottom: 15px;
}

.row-spacer{
    margin-top:40px;
}

.map {
  margin-top: 10px;
      width: 100%;
      height: 200%;
      position: absolute;

    }
.dropdown-toggle{
  color: white;
}
th{
   color: rgba(0, 0, 0, 0.8);
   font-size: 150%;
   background: rgba(0.7, 0.3, 0.5, 0.5);
}
td{
   color: green;
   font-size: 110%;
   background-color: white;
}


@media screen and (max-width: 760px) {
               .centered-box {
                  width: 95%;
                    position: fixed;
                    top: 30%;
                }
                .centered-image {
                    width: 50%;
                    height: 40%;
                  }
                  h1{
                     margin-top: 10%;
                     font-size: 200%;
                     font-weight: 400;
                  }
                  .fine-print{
                    font-size: 10px;
                    font-family: "Source Sans Pro",sans-serif;
                    height: 14px
                  }
                  .shorten-url{
                  font-size: 100%;
                  font-family: "Source Sans Pro",sans-serif;
              }
              
                .dropdown {
                  margin-left: 20px;
                    width:170px; 
                    margin-right: 20px;
                    background: #276B84; 
                    color: white; 
                }
                
                .dropdown .dropdown-menu:before {
                  color:white;
                    border-bottom: 0px solid black;
                    border-right: 0px solid black;
                    border-left: 0px solid black;
                    position: absolute;
                    top: -10px;
                    right: 86px;
                    z-index: 10;
                }
                .dropdown .dropdown-menu:after {
              color:white;
                  border-bottom: 0px solid black;
                    border-right: 0px solid black;
                    border-left: 0px solid black;
                    position: absolute;
                    top: -10px;
                    right: 86px;
                    z-index: 10;
              }
               
              .dropdown-menu{
                font-size: 10px;
                color:white;
              }
              .navbar-login
              {
                color:white;
                margin-left: 20px;
                  width: 142px;
                  padding: 10px;
                  padding-bottom: 0px;

              }
              .dropdown-toggle{
          color: white;
        }
        .dropdown-menu>li>a {
            color:white;
        }
        .li-menu{
          color: white;
        }
           
   }           
@media screen and (max-height: 1330px) {
               .centered-box {
                 top: 40%;
                }
                .sign-area {
                  margin-top:  10px;
              }
