html {
  color: rgba(0, 0, 0, 0.8);
}

.centered-box {
  position: fixed; 
  top: 50%;
  left: 50%;
  width: 800px;
  margin-top: -150px;
  margin-left: -300px;
}
.centered-image {
  width: 300px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto 
}
.fine-print{
  font-size: 13px;
  margin-left: 20px;
  color: red;
}
.error-print{
  font-size: 20px;
  margin-left: 20px;
  color: red;
}
.shorten-url{
  font-size: 25px;
  margin-left: 20px;
  color: green;
  font-weight: bold;
}
body {
  font-size: 14px;
  line-height: 1.428571429;
  color: #85794d;
  background-color: #ced9bc;
}
h1{
   margin-top: 70px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  text-align: center;
}
p{
  font-family:  Helvetica;
  text-align: left;
}
